<!doctype html>
<html>
<head>
  <!-- Stylesheet /-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<!-- BEGIN CONTAINER ############################################### -->
<div id="container" class="container">

<!-- MAIN SECTION ############################################### -->
<section>

	<h3><center><i>Arabidopsis thaliana</i><br> transposable elements</center></h3>
								
<!-- Content --> 
<p><center>This is a test home page</center></p>										
</section>

<!-- END MAIN SECTION ############################################### -->

</div> <!-- end of container -->

  </body>
  
</hitml>
